.wrapper {
   margin: 0;
   padding: 0;
   font-family: Tahoma, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    width: 375px;
    height: 526px;
    border: 2px solid black;
}

h1 {
    text-align: center;
    font-size: 22px;
    margin: 9px 24px 21px 26px;
    font-weight: 100;
}

img {
	padding-left: 65px;
    width: 249PX;
    height: 286px;
}
.kredit {
    background-color: #9aba48;
    box-shadow: -3px 3px #9c9c9c;
    border-style: hidden;
    width: 189px;
    height: 31PX;
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 0 6px 0 0;
    line-height: 15px;
}
.price {
	font-size: 31px;
    text-align: center;
    letter-spacing: 1px;
    padding: 14px 0 10px 23px;
}

.buy {
    background-color: #e93f33;
    box-shadow: 0px 3px #791c15;
    border-style: hidden;
    width: 228px;
    height: 46PX;
    line-height: 24px;
    font-size: 28px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin: 10px;
    margin: 7px 7px 0 62px;
    padding-left: 21px;
}